{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<table class="ui table">
    <thead>
        <tr>
            <th>{{ 'pledg_sylius_payment_plugin.due_date'|trans }}</th>
            <th>{{ 'pledg_sylius_payment_plugin.amount'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for row in simulation %}
        <tr>
            <td>{{ row['payment_date'] }}</td>
            <td>
                {{ money.convertAndFormat(row['amount_cents'] + row['fees']) }}
                {% if row['fees'] != 0 %}
                    ({{ money.convertAndFormat(row['fees']) }} {{ 'pledg_sylius_payment_plugin.included_in_price'|trans }})
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>