{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<table class="ui table">
    <thead>
        <tr>
            <th>{{ 'pledg_sylius_payment_plugin.payment_date'|trans }}</th>
            <th>{{ 'pledg_sylius_payment_plugin.amount'|trans }}</th>
            <th>{{ 'pledg_sylius_payment_plugin.fees'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for row in simulation %}
        <tr>
            <td>{{ row['payment_date'] }}</td>
            <td>{{ money.convertAndFormat(row['amount_cents']) }}</td>
            <td>{{ money.convertAndFormat(row['fees']) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>